{% extends "polls/base.html" %}
{% block title %}Django Tutorial - Polls{% endblock %}

{% block header %}Polls Page{% endblock %}

{% block content %}
    {% if questions %}
    <div>
        Questions:
        <ul>
            {% for question in questions %}
                <li>
                    <a href="/polls/{{ question.id }}/">{{ question.question_text }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {% else %}
    <div class="alert">No polls are available.</div>
    {% endif %}
{% endblock %}
